<div class="project">
  <div class="blocks__single section-title">
    <span>
      Hos
      <em>
        Josef
      </em>
      la vi om
      <em>
        fasaden
      </em>
      , bytte
      <em>
        vindskivor
      </em>
      , samtliga
      <em>
        fönster
      </em>
      och byggde
                      en ny
      <em>
        altan
      </em>
      .
    </span>
  </div>
  <div class="blocks__single no-padding no-margin features">
    <div class="container-fluid p-0">
      <!-- features single item -->
      <div class="row g-0 features__item">
        <div class="col-12 col-md-6 features__image project-1-1"></div>
        <div class="col-12 col-md-6 features__descr">
          <div class="descr__container">
            <h3>
              Fasadbyte
            </h3>
            <p class="text-s">
              Vi renoverar eller byter din fasad och ger ditt
                              hus en helt ny look.
            </p>
          </div>
        </div>
      </div>
      <!-- features single item -->
      <div class="row g-0 flex-md-row-reverse features__item">
        <div class="col-12 col-md-6 features__image project-1-2"></div>
        <div class="col-12 col-md-6 features__descr">
          <div class="descr__container">
            <h3>
              RENOVERING
            </h3>
            <p class="text-s">
              Vi restaurerar byggnader till deras ursprungliga
                              glans. Eller bortom den.
            </p>
          </div>
        </div>
      </div>
      <!-- features single item -->
      <div class="row g-0 features__item">
        <div class="col-12 col-md-6 features__image project-1-3"></div>
        <div class="col-12 col-md-6 features__descr">
          <div class="descr__container">
            <h3>
              Fönster
            </h3>
            <p class="text-s">
              Alla fönster behövdes bytas ut.
            </p>
          </div>
        </div>
      </div>
      <!-- features single item -->
      <div class="row g-0 flex-md-row-reverse features__item">
        <div class="col-12 col-md-6 features__image project-1-4"></div>
        <div class="col-12 col-md-6 features__descr">
          <div class="descr__container">
            <h3>
              ALTAN
            </h3>
            <p class="text-s">
              En stor altan gav familjen helt nya möjligheter
                              till att vistas utomhus.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Blockquote Start -->
    <div class="blocks__single blockquote-project-1">
      <div class="container-fluid p-0">
        <div class="row g-0">
          <div class="col-12 blockquote__content">
            <i class="fas fa-quote-left blockquote__icon"></i>
            <blockquote cite="">
              <p>
                Nu har vi ett kanonfint hus, efter att de
                                trevliga killarna från Olofstorps Allservice har
                                varit här; byte av fasadpanel, taktvätt,
                                tegeltvätt och målning. Väl utfört jobb från
                                offert till faktura. Stort tack för detta!
              </p>
              <cite>
                <span>
                  Josef Pettersson
                </span>
                <span>
                  Husrenovering - Maj 2022
                </span>
              </cite>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <!-- Blockquote End -->
  </div>
</div>