<div class="project">
  <div class="blocks__single section-title" style="margin-top: 10vh">
    <span>
      Behöver du mer
      <em>
        plats
      </em>
      för att 
      <em>
        umgås
      </em>
      ?
    </span>
  </div>
  <div class="blocks__single no-padding no-margin features">
    <div class="container-fluid p-0">
      <!-- features single item -->
      <div class="row g-0 features__item">
        <div class="col-12 col-md-6 features__image project-3-1"></div>
        <div class="col-12 col-md-6 features__descr">
          <div class="descr__container">
            <h3>
              Altanbygge
            </h3>
            <p class="text-s">
              Sommaren är kort, alla vill kunna umgås ute!
            </p>
          </div>
        </div>
      </div>
      <!-- features single item -->
      <div class="row g-0 flex-md-row-reverse features__item">
        <div class="col-12 col-md-6 features__image project-3-2"></div>
        <div class="col-12 col-md-6 features__descr">
          <div class="descr__container">
            <h3>
              Helhelten
            </h3>
            <p class="text-s">
              Vi hjälper dig att projektera och utforma din nya altan.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>