<div class="blocks__single">
  <div class="form-container">
    <!-- Reply Group Start -->
    <div class="reply-group">
      <span class="material-icons txt-light">
        done
      </span>
      <p class="reply-group__title txt-light">
        <span>
          Done
        </span>
        !
      </p>
      <span class="reply-group__text txt-light-transparent">
        Tack för ditt meddelande. Vi återkommer till dig snarast.
      </span>
    </div>
    <!-- Reply Group End -->
    <!-- Contact Form Start -->
    <form
      class="form form-light contact-form"
      id="contact-form"
      method="POST"
      data-netlify="true"
    >
      <!-- Hidden Required Fields -->
      <input
        type="hidden"
        name="project_name"
        value="Olofstorps Allservice - Kontaktformulär"
      />
      <input type="hidden" name="admin_email" value="info@olofstorps.se" />
      <input type="hidden" name="form_subject" value="Kontaktformulär" />
      <!-- END Hidden Required Fields-->
      <div class="container-fluid p-0">
        <div class="row gx-5">
          <div class="col-12 col-md-6">
            <input type="text" name="Name" placeholder="Ditt namn*" required />
          </div>
          <div class="col-12 col-md-6">
            <input type="text" name="Company" placeholder="Företag" />
          </div>
          <div class="col-12 col-md-6">
            <input type="email" name="E-mail" placeholder="Email*" required />
          </div>
          <div class="col-12 col-md-6">
            <input
              type="tel"
              name="Phone"
              placeholder="Telefonnummer*"
              required
            />
          </div>
          <div class="col-12">
            <textarea
              name="Message"
              placeholder="Eventuellt meddelande"
            ></textarea>
          </div>
          <div class="col-12">
            <span class="inputs-description">
              *Obligatoriska fält
            </span>
            <button type="submit" class="button button-l button-light">
              <span class="button-caption">
                Skicka
              </span>
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- Contact Form End -->
  </div>
</div>
<!-- Contact Form Block End -->