<div class="project">
  <div class="blocks__single section-title" style="margin-top: 10vh">
    <span>
      Vi jobbar gärna med
      <em>
        målning
      </em>
      och
      <em>
        taktvätt
      </em>
      .
    </span>
  </div>
  <div class="blocks__single no-padding no-margin features">
    <div class="container-fluid p-0">
      <!-- features single item -->
      <div class="row g-0 features__item">
        <div class="col-12 col-md-6 features__image project-2-0"></div>
        <div class="col-12 col-md-6 features__descr">
          <div class="descr__container">
            <h3>
              Stora elle små jobb
            </h3>
            <p class="text-s">
              Vi tar os an varje uppdrag på ett professionellt
                              sätt.
            </p>
          </div>
        </div>
      </div>
      <!-- features single item -->
      <div class="row g-0 flex-md-row-reverse features__item">
        <div class="col-12 col-md-6 features__image project-2-1"></div>
        <div class="col-12 col-md-6 features__descr">
          <div class="descr__container">
            <h3>
              Taktvätt
            </h3>
            <p class="text-s">
              Vi restaurerar byggnader till deras ursprungliga
                              glans. Eller bortom den.
            </p>
          </div>
        </div>
      </div>
      <!-- features single item -->
      <div class="row g-0 features__item">
        <div class="col-12 col-md-6 features__image project-2-2"></div>
        <div class="col-12 col-md-6 features__descr">
          <div class="descr__container">
            <h3>
              MÅLNING
            </h3>
            <p class="text-s">
              Invändigt eller utvändigt? Vi sätter färg på
                              tillvaron.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Blockquote Start -->
    <div class="blocks__single blockquote-project-2">
      <div class="container-fluid p-0">
        <div class="row g-0">
          <div class="col-12 blockquote__content">
            <i class="fas fa-quote-left blockquote__icon"></i>
            <blockquote cite="">
              <p>
                Vill ge de bästa rekommendationerna om du ska
                                måla om byta vindskivorna mm. Har använt dem i
                                vår. Bra service, snabbt jobbat, lätta att komma
                                i kontakt med och bra pris.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <!-- Blockquote End -->
  </div>
</div>